body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 810px;
  overflow-x: hidden;
  background-color: lightgray;
}
.displayflex {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.background {
  position: relative;
  min-height: 100vh;
}
.upperdiv {
  height: 162px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: red;
  border-color: red;
  border-style: outset;
  border-width: 18px;
  flex-wrap: wrap;
  position: relative;
  bottom: 18px;
}
.upperdiv2 {
  height: 162px;
  width: 198px;
  background-color: red;
  position: relative;
  right: 32px;
  z-index: 12;
  flex-shrink: 1;
}
.upperdiv3 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 180px 180px 0;
  border-color: transparent #007bff transparent transparent;
  position: relative;
  right: 32px;
  z-index: 15;
}
.upperdiv4 {
  width: 0;
  height: 0;
  border-style: outset;
  border-width: 0 18px 18px 0;
  border-color: transparent #007bff transparent transparent;
  position: relative;
  right: 50px;
  top: 162px;
  z-index: 15;
}
.upperdiv5 {
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 18px 18px 0 0;
  border-color: #007bff transparent transparent transparent;
  position: relative;
  right: 50px;
  top: 162px;
  z-index: 15;
}
.upperdiv6 {
  height: 162px;
  width: 1px;
  background-color: #007bff;
  position: relative;
  border-color: #007bff;
  border-style: outset;
  border-width: 18px;
  position: relative;
  bottom: 18px;
  right: 68px;
  flex-grow: 6;

  z-index: 13;
}
.upperdiv7 {
  height: 162px;
  width: 180px;
  background-color: #007bff;
  position: relative;
  border-color: #007bff;
  border-style: outset;
  border-width: 18px;
  position: absolute;
  flex-grow: 6;

  z-index: 14;
  right: 0px;
  top: -18px;
}
.upperdiv8 {
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 18px 18px 0 0;
  border-color: #007bff transparent transparent transparent;
  position: absolute;
  flex-grow: 6;

  z-index: 14;
  right: 198px;
  top: 162px;
}
.upperdiv9 {
  height: 162px;
  width: 18px;
  background-color: #007bff;
  position: relative;
  position: absolute;
  flex-grow: 6;
  z-index: 16;
  right: 0px;
  top: 0px;
}

#theImg {
  height: 180px;
  text-align: center;
  z-index: 0;
  border-style: outset;
  border-width: 14px;
  margin: 0;
}
#mediumscreenimage {
  height: 144px;
  text-align: center;
  z-index: 0;
  border-color: darkgrey;
  border-style: outset;
  border-width: 14px;
  margin: 0;
}
.centraldiv {
  position: absolute;
  z-index: 20;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 270px;
  height: 432px;
  width: 927px;
  background-color: white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.spacerdiv {
  height: 540px;
  width: 100%;
}
.bottomnav {
  width: 100%;
  height: 15px;
  background-color: rgb(184, 184, 184);
  margin: 0 auto;
  display: flex;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.navbox {
  height: 5px;
  width: 21%;
  margin-left: 1%;
  margin-top: 5px;
  margin-right: 2%;
  background-color: rgb(97, 97, 97);
  border-radius: 25px;
}

.blue {
  background-color: rgb(255, 255, 255);
}

.right {
  top: 270px;
  right: -9999px;
  position: absolute;
}

.left {
  top: 270px;
  left: -9999px;
  position: absolute;
}

.transition {
  transition: 0.5s ease-in-out;
}
.mainViewer {
  position: absolute;
  width: 800px;
  height: 400px;
  z-index: -10;
}

.center {
  /* position can be changed by adjusting margins in both left and height positions*/
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-top: -200px;
  margin-bottom: auto;
  margin-left: 100px;
  z-index: -20;
  background-color: white(39, 23, 23);
  height: 432px;
  width: 927px;
}

.top {
  top: -9999px;
  position: fixed;
  margin-left: 100px;
  z-index: -8;
}

.bottom {
  bottom: -9999px;
  position: fixed;
  margin-left: 100px;
  z-index: -8;
}

.viewerContainers {
  position: absolute;
  top: 270px;
  margin-left: 240px;
  z-index: -10;
}

.fullscreendiv {
  position: absolute;
  height: 600px;
  width: 100%;
  overflow-y: hidden;
  margin: 0px;
  padding: 0px;
  z-index: -10;
}

#leftbutton {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 30px 60px 0;
  border-color: transparent #007bff transparent transparent;
  position: absolute;
  top: 230px;
  left: 40px;
}

#rightbutton {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 0 60px 30px;
  border-color: transparent transparent transparent #007bff;
  position: absolute;
  top: 230px;
  right: 40px;
}

#imagediv {
  padding-bottom: -5px;
  height: 207px;
  margin: 0 auto;
  border-color: red;
  border-style: outset;
  border-width: 14px;
  display: inline-block;
  z-index: 5;
  position: relative;
  right: 18px;
}
#outsideimagediv {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* position: relative;
    bottom: 220px; */
}
#scrollbar {
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  width: 180px;
  height: 90px;
  bottom: 0;
  left: 0;
}
.grid-container {
  display: grid;
  margin-bottom: 0;

  padding: 0;
}
.grid-container {
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: rgba(39, 23, 23);
  height: 531px;
  /* width: 200px; */

  font-size: 27px;
  text-align: center;
}
.inner {
  position: absolute;
  z-index: 2;
  height: 531px;
  width: 45px;
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0,
    rgba(249, 244, 244, 0) 52%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0,
    rgba(249, 244, 244, 0) 52%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0,
    rgba(249, 244, 244, 0) 52%,
    rgba(0, 0, 0, 1) 100%
  );
}

.boxDivForApps {
  height: 117px;
  width: 180px;
  background-color: white;
  position: absolute;
  z-index: 1;
  left: 9px;
}

#box1 {
  position: absolute;
  top: 81px;
}

#box2 {
  position: absolute;
  top: 243px;
}

#box3 {
  position: absolute;
  top: 405px;
}

#box4 {
  position: absolute;
  top: 567px;
}

#box5 {
  position: absolute;
  top: 729px;
}

.mainappdiv {
  background-color: white(39, 23, 23);
  height: 405px;
  width: 900px;
  border-width: 14px;
  border-style: outset;
  font-size: 27px;
  text-align: center;
  overflow-y: scroll;
  z-index: 100;
}
.mainappdiv2 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 41px bottom;
  border-width: 14px;
  border-style: outset;
  height: 405px;
  width: 900px;
  font-size: 27px;
  text-align: center;
  overflow-y: scroll;
  z-index: 100;
}
table {
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
tr {
  /* background-color: #dddddd; */
}
th {
  background-color: white;
  color: black;
  height: 36px;
}
footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  width: 100%;
  height: 90px;
  background-color: red;
}
.footerspacer {
  height: 90px;
}
.upperdiv10 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 90px 90px;
  border-color: transparent transparent #007bff transparent;
  position: relative;

  z-index: 15;
}
.upperdiv11 {
  margin-top: 0;
  width: 720px;
  height: 90px;
  background-color: red;
}
.upperdiv12 {
  margin-top: 0;
  width: 9px;
  height: 90px;
  background-color: #007bff;
  flex-grow: 6;
}
.hide1 {
  display: none;
}
.hide2 {
  display: none;
}
#theImg55 {
  height: 405px;
  z-index: 5;
  position: absolute;
}

#imagedivbackground2 {
  height: 405px;
  width: 900px;
  margin: 59px;
}

.gradient {
  position: absolute;
  height: 405px;
  width: 884px;
  background-color: blue;
  z-index: 7;
  opacity: 70%;
}

.playerpicturebackground {
  background-color: darkgrey;
  margin: 18px;
  height: 180px;
  width: 261px;
  position: absolute;
  z-index: 8;
}
.buttonleft {
  position: relative;
  height: 50px;
  width: 70px;
  color: rgb(70, 70, 70);
  font-weight: bolder;
  background-color: rgb(103, 103, 255);
  border-radius: 29px 0px 0px 29px;
  border-style: solid;
  border-color: darkgray;
  border-width: 4px;
  border-width: 4px 2px 4px 4px;
  background: radial-gradient(circle at 15px 10px, #5cabff, rgb(63, 63, 63));
}

.buttonleft2 {
  height: 50px;
  width: 70px;
  color: rgb(70, 70, 70);
  font-weight: bolder;
  line-height: 34px;
  text-align: center;
  font-size: 3.5em;
  background-color: rgb(103, 103, 255);
  border-radius: 29px 0px 0px 29px;
  background: radial-gradient(
    circle at 65px 10px,
    rgba(255, 255, 255, 0.65),
    rgba(103, 103, 255, 0)
  );
}

.buttonleft2:hover {
  background: radial-gradient(
    circle at 65px 10px,
    rgba(116, 116, 116, 0.5),
    rgba(103, 103, 255, 0)
  );
  color: white;
  border-style: solid;
  position: absolute;
  top: -1px;
  right: -1px;
  border-width: 1px;
  border-color: black;
}

.buttonright2 {
  height: 50px;
  width: 70px;
  color: rgb(70, 70, 70);
  font-weight: bolder;
  line-height: 34px;
  text-align: center;
  font-size: 3.5em;

  background-color: rgb(103, 103, 255);
  border-radius: 0px 29px 29px 0px;
  background: radial-gradient(
    circle at 5px 10px,
    rgba(255, 255, 255, 0.65),
    rgba(103, 103, 255, 0)
  );
}

.buttonright2:hover {
  background: radial-gradient(
    circle at 65px 10px,
    rgba(116, 116, 116, 0.5),
    rgba(103, 103, 255, 0)
  );
  color: white;
  position: absolute;
  top: -1px;
  left: -1px;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: black;
}

.buttonright {
  position: relative;
  height: 50px;
  width: 70px;
  font-weight: bolder;
  color: rgb(70, 70, 70);
  text-align: center;
  background-color: blue;
  border-radius: 0px 29px 29px 0px;
  border-style: solid;
  border-color: darkgray;
  border-width: 4px 4px 4px 2px;
  background: radial-gradient(circle at 55px 10px, #5cabff, rgb(63, 63, 63));
}

.centerGradient {
  position: absolute;
  z-index: 100;
  left: 74px;
  height: 58px;
  width: 4px;
  background: linear-gradient(darkgray, white 25%, darkgray);
}
.buttoncontainerouter {
  display: none;
}
.buttoncontainer {
  width: 200px;
  margin: 0px auto;
  position: relative;
  display: flex;
  text-align: center;
}

.playerpic {
  height: 180px;
  position: relative;
  z-index: 9;
  opacity: 100%;
}
.addclickevent {
  z-index: 100;
}
#arrowbuttondiv {
  position: absolute;
  z-index: 15;
  top: 248px;
  left: 54px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 36px 18px 36px;
  border-color: transparent transparent #007bff transparent;
}

#arrowbuttondiv2 {
  position: absolute;
  z-index: 15;
  left: 54px;
  top: 698px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 36px 0 36px;
  border-color: #007bff transparent transparent transparent;
}
.individualPlayertable {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  background: transparent;
  position: relative;
  /* opacity: 40%; */
  top: 18px;
  left: 144px;
  z-index: 15;
  width: 60%;
  margin: 0 auto;
}
.playstatsvalue {
  color: rgb(34, 34, 34);
}

.playerinfo {
  border-style: inset;
  border-collapse: collapse;
  border-width: 5px;
  border-color: rgb(94, 90, 99);
  background-color: rgb(57, 55, 59);
}

.playerinfo2 {
  border-style: outset;
  border-collapse: collapse;
  border-width: 5px;
  border-color: rgb(94, 90, 99);
  background-color: rgb(87, 83, 90);
}
.individualPlayertable2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 540;
  background-color: rgba(255, 255, 255, 0.39);
  position: relative;
  /* opacity: 40%; */

  left: 144px;
  z-index: 15;
  width: 60%;
  margin: 0 auto;
}
.individualPlayertable2 td {
  color: rgb(34, 34, 34);
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
.playerInfoForIndiv {
  position: absolute;
  margin: 18px;
  margin-top: 207px;
  height: 180px;

  z-index: 100;
  background-color: white;
  width: 261px;
}
.relativediv {
  position: relative;
  height: 405px;
  width: 900px;
}
.playerpositionForIndiv {
  font-size: 0.9em;
}
.playernameForIndiv {
  font-size: 1.08em;
}
.playerwieghtForIndiv {
  font-size: 0.54em;
}
.playerheightForIndiv {
  font-size: 0.54em;
}
.hideHtmlBase {
  display: none;
}
@media screen and (max-width: 1280px) {
  .mainappdiv {
    margin: 0;
  }
  .mainappdiv2 {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .bottomnav {
    display: none;
  }

  #leftbutton {
    display: none;
  }
  #rightbutton {
    display: none;
  }
}
@media screen and (max-width: 1060px) {
  #leftbutton {
    display: none;
  }
  #rightbutton {
    display: none;
  }
  .buttoncontainerouter {
    display: block;
  }
  .spacerdiv {
    height: 482px;
  }
}
@media screen and (max-width: 1350px) {
  .mainappdiv {
    margin-left: 0;
  }
  .mainappdiv2 {
    margin-left: 0;
  }
}
